/* Doesn't work in console.
@font-face {
	font-family: 'TrueMonospace';
	src: url('fonts/GnuUnifontFull-Pm9P.ttf');
}
*/
* {
	--bgcolor: brown;
	--fgcolor: yellow;
	color: var(--fgcolor);
	background-color: var(--bgcolor);
	border-color: var(--fgcolor);
	font-size: 10mm;
	line-height: 1em;
	font-family: monospace;
}

button {
	cursor: pointer;
	vertical-align: top;
	font-size: 0.7em;
	height: 2em;
	min-width: 2em;
}

div {
	margin: 0.5em;
}

input[type=number] {
	width: 2em;
}

#modal {
	margin: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/* vertical */
	justify-content: center;
	/* horizontal */
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

.alert {
	/* margin: auto; */
	border: 1px solid var(--fgcolor);
	border-radius: 5px;
	box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
	padding: 1em;
	/* background-color: var(--bgcolor); */
	/* font-size: 200%; */
	text-align: center;
}

#boardtext {
	display: block;
	/*font-family: TrueMonospace;*/
	font-size: 0;
	/* Gets rid of newline spaces. */
	margin: 1em 0;
	position: relative;
	/* For relative position absolute children. */
	white-space: pre;
}

#caps0, #caps1 {
	font-size: 0.5em;
}

#logtext {
	height: 8em;
	overflow: auto;
	width: 8em;
}

.dead {
	rotate: -90deg;
}

.w {
	background-color: lightgrey;
}

.b {
	background-color: darkgrey;
}

.wf {
	color: white;
}

.bf {
	color: black;
}

.square {
	height: 1em;
	width: 1em;
	display: inline-block;
	line-height: 1em;
	text-align: center;
	cursor: pointer;
}

.piece {
	background-color: transparent;
	height: 1em;
	line-height: 1em;
	width: 1em;
	text-align: center;
	display: block;
	pointer-events: none;
	position: absolute;
	transition: 0.4s;
}

.selected.w {
	background: radial-gradient(lightgray 30%, yellow);
}

.selected.b {
	background: radial-gradient(darkgray 30%, yellow);
}

.selected.w.nobg {
	background: lightgray;
}

.selected.b.nobg {
	background: darkgray;
}

input,
label,
li,
li>span,
textarea {
	font-size: 5mm;
}

li>span {
	cursor: pointer;
}

ol {
	list-style-position: inside;
}