body {
	background: var(--bgcolor);
	color: var(--fgcolor);
	margin: 0;
	text-align: center;
	text-shadow: 1px 1px rgb(0 0 0 / 20%);
}

div {
	margin: 1rem;
}

hr, input, table {
	border-color: var(--fgcolor);
}

input {
	color: inherit;
	background-color: rgba(255, 255, 255, 0.4);
	opacity: 0.9;
	border-width: 2px;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	text-shadow: inherit;
	font-weight: bold;
}
input:disabled{
	opacity: 0.5 !important;
}
input:hover {
	opacity: 1.0;
}

ol {
	list-style-position: inside;
	padding: 0;
}

span {
	cursor: pointer;
}

table {
	border-width: 0;
	border-spacing: 0;
	text-align: center;
	width: 100%;
}
td,
th {
	border: 1px outset;
	border-color: inherit;
}
th {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
tr:hover {
	border: 1px solid #ffffffbb;
}
tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.2);
}

video {
	height: 1px;
	width: 1px;
	opacity: 0.01;
}

#alertcontainer {
	margin: 0;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-items: center;  /* vertical */
	justify-content: center;  /* horizontal */
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

.alert {
	margin: auto;
	border: 1px solid var(--fgcolor);
	border-radius: 5px;
	box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
	min-width: 10em;
	padding: 1em;
	background-color: var(--bgcolor);
}

.fade {
	animation: fadein 8s linear infinite alternate;
}

.rainbow {
	animation: toright 8s linear infinite;
	background: linear-gradient(-90deg, purple,red,yellow,rgb(90,255,90),cyan,rgb(100,100,255),purple);
	background-size: 50vw 20px;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes fadein {
	0%, 2% { opacity: 0 }
	60%, 100% { opacity: 1 }
}

@keyframes toright {
	0% { background-position: 0 }
	100% { background-position: 100vw }
}